/* Start of hero section */
main {
    position: relative; /* To position the video and text within the main section */
    min-height: 100vh; /* Ensure main is at least as tall as the viewport */
    background-color: #1a253a;
    margin-top: 60px;
    display: flex;
    flex-direction: column; /* Stack video and text vertically */
    align-items: center;
    z-index: 100;
    overflow: hidden; /* Hide the text that overflows the main section */
}

video {
    position: absolute; /* To position the text above the video */
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

main.main-intro {
    position: absolute; /* Position the text above the video */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center perfectly */
    color: white;
    text-align: center; /* Center text */
    z-index: 101; /* Ensure text is above video */
    /* width: 100%; Make the text container span the full width */
}

main .main-intro h1 {
    font-size: 96px;
    line-height: 106px;    
}

main p {
    font-size: 18px;
    line-height: 30px;    
}


main a {
    margin-top: 30px;
    font-size: 18px;
    display: block;
    background-color: var(--site-color-01);
    padding: 10px 20px;
    width: fit-content;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out;
}

/* Add a button click animation */

main a:active {
    transform: scale(0.95);
}

/* End of button click animation */
main .main-quotes p{
    border-left: 4px solid var(--site-color-01);
    padding-left: 20px;
    margin: 40px 0;
}

main .main-quotes p:nth-child(2){
  margin-left: 100px;
}

main .main-intro {
    position: relative;
    right: 20vh;
    padding-bottom: 8vh;
 }
 
 main .main-quotes {
     position: relative;
     left: 4vh;
     padding-bottom: 8vh;
 }
/* End of hero section */

/* Start of category section */

.index-category {
width: 100%;
padding: 60px 0;
background-color: #fff;
display: flex;
justify-content: center;
column-gap: 20px;
flex-wrap: wrap;
}

.index-category p {
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 22px;
    }

.index-category-box {
    width: 200px;
    height: 200px;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index-category-box:nth-child(2) {
   background-image: url( https://placedog.net/200/200)
}

.index-category-box:nth-child(3) {
    background-image: url( https://placedog.net/200/200)
 }

 .index-category-box:nth-child(4) {
    background-image: url( https://placedog.net/200/200)
 }

 .index-category-box:nth-child(5) {
    background-image: url( https://placedog.net/200/200)
 }

.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
    transition: all ease-in-out 200ms;
}


.index-category-box:hover .dark-overlay {
    opacity: 0;

   
}

.index-category-box h3{
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100; 
    
}
/* End of category section */