:root {
    --site-color-01:#c13584;
    --site-color-hover:#92195e;
}

body{
    background-color: #1e1e1e;
    font-family: "Playwrite";
}


body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(/img/facebook-color.png);
    content: url(/img/instagram-color.png);

}

h1 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: "Playwrite IE Guides", serif;
   
}


a {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    font-family: "Playwrite IE Guides", serif;
    cursor: pointer;
}

.header-main {
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    /* font-family: "Playwrite IE Guides", serif; */
    z-index: 1000;
}


.header-main-logo {
width: fit-content;
height: 100%;

padding-left: 60px;
display: flex;
}


.header-main-logo img {
    height: 40px;
    align-self: center;
}

.header-main-nav {
    width: fit-content;
    height: 100%;
   

}

.header-main-nav ul {
list-style: none;
margin-left: 30px;
}

.header-main-nav ul li {
    display: inline;
    float: left;
    
}

.header-main-nav ul li a {
    padding: 0 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 60px;
    color: #000;
    display: block;
    height: 100%;
    font-family: "Playwrite IE Guides", serif;
}

.header-main-nav ul li a:hover {
    color:#c13584
}

.header-main-sm {
    width: fit-content;
    height: 100%;

    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-main-sm-fb {
    width:20px;
    height: 20px;
    background-image: url("/img/facebook.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header-main-sm-fb:hover {
   
    background-image: url("/img/facebook-color.png");
   
}

.header-main-sm-im {
    width:20px;
    height: 20px;
    background-image: url("/img/instagram.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-sm-im:hover {
    width:20px;
    height: 20px;
    background-image: url("/img/instagram-color.png");
    background-repeat: no-repeat;
    background-size: cover;
}